# Bazel outputs
/bazel-*
MODULE.bazel.lock

# IDE-specific files (adjust based on your IDEs)
/.idea/
/.ijwb/
/.aswb/
/.clwb/
/.project
/.classpath
/.settings/
/.factorypath
*.iml
/.vscode/
/.prettierrc

# Local configuration and user-specific files
/.bazelrc.user
/WORKSPACE.user.bzl

# Other common temporary files
*~
.*.swp
/output/

# Python virtual environment
/venv/

# Python bytecode
__pycache__/
*.pyc
*_pb2.py

# MuJoCo logs
MUJOCO_LOG.TXT

ui/public/proto-schema*

# Build output
dist/

# Local experiment artifacts
/logs/
/simulation/trajectories/*.csv
/config/config_preset/**/*_tmp.pbtxt

# Ignore MAC OS files
.DS_Store
