#-----------------------------------------------------------------------------#
# LP-AM243 EtherCAT simple demo OSPI flash configuration.
# Uses Industrial Communications SDK 09 SBL and the SDK-shipped EtherCAT slave
# simple demo image.
#-----------------------------------------------------------------------------#

--flash-writer=@INDUSTRIAL_COMMUNICATIONS_SDK_PATH@/mcu_plus_sdk/tools/boot/sbl_prebuilt/am243x-lp/sbl_uart_uniflash.release.hs_fs.tiimage

--operation=flash-phy-tuning-data

--file=@INDUSTRIAL_COMMUNICATIONS_SDK_PATH@/mcu_plus_sdk/tools/boot/sbl_prebuilt/am243x-lp/sbl_ospi.release.hs_fs.tiimage --operation=flash --flash-offset=0x0

--file=@INDUSTRIAL_COMMUNICATIONS_SDK_PATH@/examples/industrial_comms/ethercat_slave_demo/device_profiles/401_simple/am243x-lp/r5fss0-0_freertos/ti-arm-clang/ethercat_slave_simple_demo.release.appimage.hs_fs --operation=flash --flash-offset=0x80000
